/* Global styles */
html, body, #root {
  overflow-x: hidden;  /* prevents double scrollbar */
  
}

.react-flow__edge-path {
    transition: stroke-width 0.2s ease, filter 0.2s ease;
}

.react-flow__edge:hover .react-flow__edge-path {
    stroke-width: 5;
    filter: drop-shadow(0 0 10px rgba(66,153,225,0.9));
}

@keyframes flow {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.edge--in-progress {
    stroke-dasharray: 10 6;
    animation: flow 12s linear infinite;
}