/* Global styles */
html, body, #root {
  height: 100%;
  overflow-x: hidden; /* prevents double scrollbar */
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.header {
  background-color: #0c8976;
  color: rgb(43, 14, 14);
  padding: 20px;
  text-align: center;
}

/* Course cards */
.course-card {
  background: white;
  border-radius: 8px;
  padding: 16px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.course-card h2 {
  margin-top: 0;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #005bbb;
}

input {
  display: block;
  margin: 8px 0;
  padding: 8px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #0077ff;
}

h2 {
  margin-top: 20px;
}
